<div class="container-nav-bar">
  <nav class="nav-bar">
    <a href="/" aria-label="feather icon" class="nav-logo">
      {% include "icons/feather.njk" %}
    </a>

    <ul>
      <li>
        <a href="/features.html">Features</a>
      </li>
      <li>
        <a href="/html">HTML</a>
      </li>
      <li>
        <a href="/scss">SCSS</a>
      </li>
    </ul>
  </nav>
</div>