<!DOCTYPE html>
<html lang="en"{% if htmlClass|length %} class="{{ htmlClass }}"{% endif %}>
  {% include "partials/head.njk" %}

  <body{% if bodyClass|length %} class="{{ bodyClass }}"{% endif %}>
    
    {# page specific HTML will be added here #}
    {% block content %}
    {% endblock %}
    
    {{ content | safe }}
    
    <!-- build:js -->
      <!-- EVERYTHING WITHIN HERE WILL BE REPLACED WITH SCRIPTS -->
    <!-- endbuild -->

    {# hook to allow page specific javascript to be added here #}
    {% block pageSpecificJs %}
    {% endblock %}
    
  </body>
</html>
