<!DOCTYPE html>
<html lang="en"{% if htmlClass|length %} class="{{ htmlClass }}"{% endif %}>
  {% include "partials/head.njk" %}

  <body{% if bodyClass|length %} class="{{ bodyClass }}"{% endif %}>
    
    {# page specific HTML will be added here #}
    <main>
      {% block content %}
      {% endblock %}
      
      {{ content | safe }}
    </main>
    
    [[PREV/NEXT]]
    
    <!-- build:js -->
      <!-- EVERYTHING WITHIN HERE WILL BE REPLACED WITH SCRIPTS -->
    <!-- endbuild -->

    {# hook to allow page specific javascript to be added here #}
    {% block pageSpecificJs %}
      <script src="/js/prism-default.min.js"></script>
    {% endblock %}
    
  </body>
</html>
