<!DOCTYPE html>
<html lang="en"{% if htmlClass|length %} class="{{ htmlClass }}"{% endif %}>
  {% include "partials/head.nunjucks" %}

  <body{% if bodyClass|length %} class="{{ bodyClass }}"{% endif %}>
    
    {# page specific HTML will be added here #}
    {% block content %}
    {% endblock %}
    
  </body>
</html>
