{# index page #}
{% extends "page.njk" %}

{# setting page specific css #}
{% block pageSpecificCss %}
{% endblock %}

{# setting page specific content #}
{% block content %}
  <h1>Welcome to feather ssg</h1>
  
  <p>This project is a return to a simple HTML/CSS/JavaScript dev environment.</p>
  
  <p>It is more centered around a quick way to spin up a blog, or documentation site with little effort.</p>
  
  <ul>
    <li><a href="/features.html" role="button">Features</a></li>
    <li><a href="/html/getting-started.html" role="button">Getting Started</a></li>
  </ul>
{% endblock %}

{# setting page specific js #}
{% block pageSpecificJs %}
{% endblock %}
