{# index page #}
{% extends "page.njk" %}

{# setting page specific css #}
{% block pageSpecificCss %}
{% endblock %}

{# setting page specific content #}
{% block content %}
  <h1>welcome to feather ssg</h1>

  <ul>
    <li><a href="/features.html" role="button">Features</a></li>
    <li><a href="/html-elements.html" role="button">HTML Elements</a></li>
    <li><a href="/php/intro-to-lumen.html" role="button">Example of Sub-Directory Page</a></li>
  </ul>
  
  <p>This page was created with <a href="https://mozilla.github.io/nunjucks/" target="_blank" rel="noopener">nunjucks templating</a>.</p>
{% endblock %}

{# setting page specific js #}
{% block pageSpecificJs %}
{% endblock %}
