// code snippets
// /////////////////////////////////////////////////////////////////////////////
pre {
  background-color: var(--color-bg-code-snippet);
  border-radius: 8px;
  margin: 4px 0 32px;
  overflow: hidden;
  padding: 16px;
}

.heading-snippet {
  font-size: 16px;
  margin: 16px 0 0;
}
