// code snippets
// /////////////////////////////////////////////////////////////////////////////
pre {
  background-color: var(--color-bg-code-snippet);
  border-radius: 8px;
  margin: 4px 0 32px;
  overflow: hidden;
  padding: 16px;
}

code {
  background-color: var(--color-bg-code-snippet);
  color: #{$white};

  &:not([class^='language-']) {
    border-radius: 4px;
    padding: 0px 8px;
  }
}

code[class*='language-'],
pre[class*='language-'] {
  background-color: var(--color-bg-code-snippet) !important;
}

.heading-snippet {
  font-size: 16px;
  margin: 16px 0 0;
}
