// container
// /////////////////////////////////////////////////////////////////////////////
.container {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 16px;

  @media screen and (min-width: 998px) {
    .has-right-column & {
      display: flex;
    }
  }
}

// post layout
// /////////////////////////////////////////////////////////////////////////////
.has-right-column main {
  width: 100%;

  @media screen and (min-width: 998px) {
    border-right: 1px solid var(--color-border);
    min-height: 100vh;
    padding-right: 16px;
  }
}

.right-column {
  margin: 32px 0;

  @media screen and (min-width: 998px) {
    margin-bottom: 0;
    padding-left: 16px;
    min-width: 216px;
  }

  & div {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// nav bar
// /////////////////////////////////////////////////////////////////////////////
.container-nav-bar {
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-border);
  padding: 16px;
}

.nav-logo {
  margin-right: 16px;
}

.nav-bar {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 1080px;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0;
    &:last-child a {
      margin-right: 0;
    }
  }

  a,
  a:visited {
    color: var(--color-text);
    margin-right: 16px;
    text-decoration: none;
    // transition: margin-right 400ms ease-in-out;

    @media screen and (min-width: 600px) {
      margin-right: 32px;
    }
  }
}

// previous/next
// /////////////////////////////////////////////////////////////////////////////
.container-prev-next {
  display: grid;
  grid-column-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  padding: 32px 0;

  @media screen and (min-width: 600px) {
    display: flex;
    justify-content: space-between;
  }

  a {
    border: 1px solid var(--color-border-opacity-50);
    border-radius: 8px;
    max-width: 240px;
    min-width: 100px;
    overflow: hidden;
    padding: 8px;
    position: relative;
    text-decoration: none;

    @media screen and (min-width: 600px) {
      min-width: 240px;
    }

    &:hover {
      .pn-text:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

  & .next-post {
    text-align: right;
  }

  .pn-text {
    color: var(--color-text);
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 2px;

    &:after {
      background-color: var(--color-border-opacity-50);
      top: 33px;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 400ms ease-out;
      width: 100%;
    }
  }
}
