// container
// /////////////////////////////////////////////////////////////////////////////
.container {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 16px;

  @media screen and (min-width: 998px) {
    .has-right-column & {
      display: flex;
    }
  }
}

// post layout
// /////////////////////////////////////////////////////////////////////////////
.has-right-column main {
  width: 100%;

  @media screen and (min-width: 998px) {
    border-right: 1px solid var(--color-border);
    height: 100vh;
    padding-right: 16px;
  }
}

.right-column {
  margin: 32px 0;

  @media screen and (min-width: 998px) {
    margin-bottom: 0;
    padding-left: 16px;
    width: 246px;
  }

  & div {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// nav bar
// /////////////////////////////////////////////////////////////////////////////
.container-nav-bar {
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-border);
  padding: 16px;
}

.nav-logo {
  margin-right: 16px;
}

.nav-bar {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 1080px;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0;
    &:last-child a {
      margin-right: 0;
    }
  }

  a,
  a:visited {
    color: var(--color-text);
    margin-right: 16px;
    text-decoration: none;
    // transition: margin-right 400ms ease-in-out;

    @media screen and (min-width: 600px) {
      margin-right: 32px;
    }
  }
}

// previous/next
// /////////////////////////////////////////////////////////////////////////////
.container-prev-next {
  align-items: center;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
  padding: 8px;

  a {
    border-radius: 8px;
    min-width: 100px;
    padding: 8px;
    text-decoration: none;

    &:hover {
      background-color: var(--color-bg-secondary);
    }
  }

  &.only-next {
    justify-content: flex-end;
  }

  & .next-post {
    text-align: right;
  }
}
