// colors
// /////////////////////////////////////////////////////////////////////////////
$black: #000000;
$grey: #999999;
$white: #ffffff;

// checked for contrast passing: https://colorable.jxnblk.com/4cadca/121311
$logCabin: #121311;
$jet: #2a2b29;
$shakespeare: #4cadca;
$tealBlue: #2e6879;
$tara: #ecfaf0;
$davysGrey: #474b48;
$graniteGray: #5f5f5f;
$gunMetal: #2b3844;

// hue of tara: https://maketintsandshades.com/#ecfaf0
// get name: https://coolors.co/474b48

:root {
  --color-bg: #{$white};
  --color-bg-secondary: #{$tara};
  --color-bg-code-snippet: #{$jet};

  --color-border: #{$logCabin};
  --color-border-opacity-50: rgba(18, 19, 17, 0.5);

  --color-link: #{$tealBlue};

  --color-text: #{$logCabin};

  --fill-svg: #{$logCabin};
  --fill-svg-inverse: #{$white};

  @media (prefers-color-scheme: dark) {
    --color-bg: #{$jet};
    --color-bg-secondary: #{$davysGrey};
    --color-bg-code-snippet: #{$gunMetal};

    --color-border: #{$tara};
    --color-border-opacity-50: rgba(236, 250, 240, 0.5);

    --color-link: #{$shakespeare};

    --color-text: #{$tara};

    --fill-svg: #{$tara};
    --fill-svg-inverse: #{$logCabin};
  }
}
