// colors
// /////////////////////////////////////////////////////////////////////////////
$black: #000;
$grey: #999;
$red: #f00;
$yellow: #ff0;
$white: #fff;

// checked for contrast passing: https://colorable.jxnblk.com/4cadca/121311
$logCabin: #121311;
$shakespeare: #4cadca;
$tara: #ecfaf0;
