// imports
// /////////////////////////////////////////////////////////////////////////////
@import 'normalize';
@import 'variables';

html,
body {
  background-color: $grey;
  color: $white;
  border-top: 1px;
}
